@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<div class="row justify-content-center">
    <div class="col-6">
        <form style="background: #efefef" class="p-3 rounded">

            <div class="row justify-content-center mb-5">
                <div class="col">
                    <div class="col d-flex justify-content-center">
                        <img class="mb-4" src="~/lib/Themes/linkedin-png-icon-8.jpg" alt="" width="110" height="97">
                   </div>
                    <div class="col d-flex justify-content-center">
                        <h1 class="h3 mb-3 fw-normal text-center">Faça seu cadastro</h1>
                    </div>
                </div>
            </div>

            <div class="row pb-4 pt-5">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Insira seu nome" aria-label="First name" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Insira seu sobrenome" aria-label="Last name" required>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col">
                    <input type="email" class="form-control" placeholder="E-mail" aria-label="First name" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Celular" aria-label="Last name" required>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col">
                    <input type="password" class="form-control" placeholder="Insira sua senha" min="4" maxlength="25" aria-label="First name" required>
                </div>
                <div class="col">
                    <input type="password" class="form-control" placeholder="Confirmar senha" min="4" maxlength="25" aria-label="Last name" required>
                </div>
            </div>

            <div class="row">
                <div class="col justify-content-center d-flex">
                    <input class="form-control" style="width: 250px" data-provide="datepicker" type="datetime" placeholder="Insira sua data de nascimento">
                 </div>
            </div> 

            <div class="row pt-5">
                <div class="col d-flex justify-content-center">
                    <button class="w-50 btn btn-lg btn-primary" type="submit">Entrar</button>
                </div>

                <p class="mt-1 d-flex justify-content-center pt-3">
                    <a asp-controller="Login" asp-action="Index">Não possui uma conta? Realize o cadastro</a>
                </p>

                <div class="row text-center">
                    <p class="mt-5 mb-3 text-muted">© Creation Vitae 2023</p>
                </div>
            </div>

        </form>
    </div>
</div>